h1 {
    font-family: PlatinumSign;
}
h4 {
    font-family: Boston;
}
img {
    height: 100%;
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;    
    display: block;
    margin: auto auto;
 }
@font-face {
    font-family: PlatinumSign;
    src: url('asset/platinum_sign/Platinum Sign Over.ttf');
}
@font-face {
    font-family: Boston;
    src: url('asset/boston/BOSTON CAPS.otf');
}
